.resumetitle {
    background-image: url("../images/DSC00614.JPG");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    padding:20px 0 10px 0;
    border-bottom: 3px solid;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    text-shadow: 1px 1px var(--primary-color);

}

.resume {
    text-shadow: none;
}
