:root {
    --primary-color: #743429;
    --secondary-color: #BD866C;
    --tertiary-color: #585255;
    --quaternary-color: #a23d2b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
}

/*--header--*/
header {
    color: var(--primary-color);
    padding: 50px 20px 50px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/_DSC5146.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    
}

header h1 {
    background-color: rgb(88, 82, 85, 0.8)
}

header nav {
    background-color: rgb(88, 82, 85, 0.3)
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }


/*--header end--*/

/*--hero--*/
.hero {
    background-image: url("../images/_DSC5146.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }

.hero div h2 {
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;;
}

.about-me {
    margin: 0;
    border: 10px;
    padding: 15px;
    background-color: rgb(88, 82, 85, 0.8);
}

.profile {
    width: 100px;
}

/*--hero end--*?